<% include header %>
	<div id="error">
		<section class="header">
			<div class="container">
				
			</div>
		</section>
	</div>
<script>
	$(document).ready(function(){
		//activate wow
        new WOW().init();
	});
</script>
<% include footer %>