<% include header %>
	<div id="index">
		<section class="header">
			<img src="/image/logo.png">
		</section>
	</div>
<script>
	$(document).ready(function(){
		//activate wow
        new WOW().init();
	});
</script>
<% include footer %>