<form action="/result" method="post">
  Name<br>
  <input type="text" name="name" required>
  <br>
  Phone<br>
  <input type="text" name="phone" required>
  <input type="submit" value="Submit">
</form>