<% include header %>
<div id="sorry">
	<section class="header">
		<div class="container">
			<img src="/image/sorry-icon.png" class="img-responsive center-block wow fadeInDown" data-wow-duration="2s" alt="">
			<h3 class="wow fadeInUp" data-wow-duration="2s">親愛的，</h3>
			<p class="sorry-message wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
				感謝你願意撥冗給藝術季一次機會分享你的想法，面試對我們而言，從來不是篩選，而是一次認識你的機會。每一份報名表都代表了對於整個團隊的期待與認同，更因如此，我們重視你的每一個想法。<br>
				<br>
				從 470 個很棒的人中做出抉擇是一件困難的事，非常遺憾本次未能錄取你，謝謝你在面試過程中分享的精彩而深刻的想法，我們也已將你的分享加以建檔，希望在未來更多的合作可能性中有你的參與。<br>
				<br>
				不論是揮灑創意的創作團隊，或是第一線參與的現場工作人員，我們都將你的創意與分享作為最好的養分與激勵，同時，誠摯邀請你持續關注這令人興奮的盛事！<br>
				<br>
				【第二階段招募---創作團隊】<br>
				<br>
				招募時程：12 月中後<br>
				說明：根據企劃團隊在年底前完成的規劃，依照各個部門的不同需求進行符合該部門特色藝術創作。創作工作大致從寒假開始，陸陸續續產出作品，並延續到五月的藝術季。可能是舞蹈表演者、戲劇表演者、音樂表演者、畫家、裝置藝術創作、料理創作等，適合喜愛創作的你！<br>
				<br>
				【第三階段招募---現場工作人員】<br>
				<br>
				招募時程：明年 3 月初<br>
				說明：透過活動前的培訓，讓藝術季的創作、活動能夠與實際狀況結合。除了能夠修習服務學習，同時，也能夠真正參與在活動裡，為藝術季畫龍點睛。適合想接觸人群的你。<br>
				<br>
			</p>
			<h3 class="wow fadeInUp" data-wow-duration="2s" style="padding-bottom: 100px;">第二十二屆臺大藝術季敬上</h3>
		</div>
	</section>
</div>
<script>
$(document).ready(function(){
//activate wow
  $('#sorry').css( "display", "block" );
  new WOW().init();
});
</script>
<% include footer %>