<% include header %>
<div id="sorry">
	<section class="header">
		<div class="container">
			<img src="/image/error.png" id='play' class="egg img-responsive center-block wow fadeInDown" data-wow-duration="2s" alt="">
			<h3 class="wow fadeInUp" data-wow-duration="2s">親愛的 <%= name %></h3>
			<p class="sorry-message wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
				謝謝你願意與我們分享你的想法，每一份報名表都代表了對於整個團隊的期待與認同，也因為如此，我們重視你的每一個想法。非常遺憾這次沒辦法錄取你，但我們還是謝謝你的分享，希望未來有你的加入。<br>
				<br>
				【第三階段招募 – 現場工作人員】<br>
				招募時程：明年 3 月初<br>
				透過活動前的培訓，我們邀請你一起為藝術季鋪下最後一哩路，共同完成整個藝術盛會，除了可以修習服務學習外，你還為藝術季帶來莫大的幫助！<br>

			</p>
			<h3 class="wow fadeInUp" data-wow-duration="2s" style="padding-bottom: 100px;">第二十二屆臺大藝術季敬上</h3>
		</div>
	</section>
</div>
<script>
$(document).ready(function(){
//activate wow
  $('#sorry').css( "display", "block" );
  new WOW().init();
});
</script>
<% include footer %>