<% include header %>
<div id="result">
  <section class="header">
    <div class="container">
      <img src="/image/r2d2-icon.png" class="egg img-responsive center-block wow fadeInDown" data-wow-duration="2s" alt="">
      <h3 class="wow fadeInUp" data-wow-duration="2s">
      	<%= name %><br>
      	恭喜你錄取 R2D2 策展部
      </h3>
      <p class="message wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
        恭喜你進入第二十二屆台大藝術季籌備團隊R2D2 策展部，你的想法讓我們相當驚艷，非常期待你的加入帶給藝術季更大的幫助！在正式進入籌備團隊之後的第一件事，麻煩你動動手指，加入我們的社團，以便跟上最新消息。<br>
      </p>
      <a href="https://goo.gl/cG4g1G" target="_blank">
        <button class="btn btn-default center-block wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">現在立馬加入</button>
      </a>
      <p class="message wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
        另外，也要請你將 11/15（日）12：30 - 18：00這段時間空下來，參與全體籌備團隊第一次的相見歡，我們期待你的加入！<br>
        第二十二屆台大藝術季 籌備團隊全體培力活動<br>
        時間：11/15（日）13：00 - 18：00<br>
        地點：活大禮堂
      </p>
      <a href="/">
        <button class="btn btn-transparent center-block wow fadeInUp" data-wow-duration="2s" >返回前頁</button>
      </a>
    </div>
  </section>
</div>
<script>
$(document).ready(function(){
//activate wow
  $('#result').css( "display", "block" );
  new WOW().init();
});
</script>
<% include footer %>