/* Common objects */
html {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 3%;
	letter-spacing: 2px;
    cursor: default;
    color: #fff;
    line-height: 2;
}

p {
	margin: 0.5% 0 0.5%;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    cursor: default;
}

a {
	cursor: pointer;
	color: white;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: rgba(256, 256, 256, 0.2);
}

input[type="text"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: rgba(144, 144, 144, 0.25);
	border-radius: 3px;
	border: none;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	height: 2.75em;
}

input[type="text"]:focus {
	box-shadow: 0 0 0 2px #21b2a6;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}
.btn-default {
    border: 2px solid #E87A90;
    color: #E87A90;
    padding: 10px 20px;
    background-color: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media(max-width: 768px){
    .btn-default {
        color: white;
        background-color: #DB4D6D;
        border: 2px solid #DB4D6D;
    }
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

a button{
    margin-top:10px; 
    margin-bottom:10px; 
}

.btn-default:hover,
.btn-default:focus {
    outline: none;
    color: white;
    background-color: #DB4D6D;
    border: 2px solid #DB4D6D;
}

.btn-transparent {
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-transparent:hover,
.btn-transparent:focus {
    outline: none;
    color: white;
    background: rgba(256, 256, 256, 0.1);
}

.btn-transparent i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(256, 256, 256, 0.1);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(256, 256, 256, 0.2);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: rgba(256, 256, 256, 0.2);
}

.wrapper {
    margin: auto;  
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
	min-height: 100%;
    background: transparent;
}

.wrapper:after {
  content: "";
  display: block;
}

.copyright, .page-wrap:after {
  height: 0px; 
}

.copyright {
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

/* Index page css */
#index {
    display: none;
    /*padding-bottom: 100px;*/
}

#index .header {
	text-align: center;
	padding-top: 10%
} 

#index .header .container .img-responsive {
	padding-left: 10px;
	margin-bottom: 5%;
}

#index .header .container h3 {
	line-height: 1.5;
}

#index .query {
    padding-bottom: 7%;
}

#index .query .container form {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

@media(max-width: 768px) {
    #index .query .container form {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

#index .query .container form .form-group label {
	margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.5;
    cursor: default;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
}

#index .query .container form button {
	margin-top: 7%;
}

/* Error page css */
#error {
    display: none;
    /*padding-bottom: 100px;*/
}

#error .header {
    text-align: center;
    padding-top: 10%;
} 

#error .header .container .img-responsive {
    padding-left: 10px;
    margin-bottom: 5%;
}

#error .header .container p {
    padding-bottom: 3%;
}

#error .header .container a:hover {
    text-decoration: none;
}


/* Sorry page css */
#sorry {
    display: none;
}

#sorry .header {
    text-align: center;
    padding-top: 5%;
} 

#sorry .header .container .img-responsive {
    padding-left: 10px;
    margin-bottom: 5%;
}

#sorry .header .container .sorry-message {
    text-align: left;
    letter-spacing: 1px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

/* AD page css */
#result {
    display: none;
    /*padding-bottom: 100px;*/
}

#result .header {
    text-align: center;
    padding-top: 5%;
} 

#result .header .container .img-responsive {
    padding-left: 10px;
    margin-bottom: 5%;
}

#result .header .container .message {
    text-align: left;
    letter-spacing: 1px;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.video {
    z-index: 20000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
}

.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* you were also missing a semi-colon here, which was breaking this and the background rule */
}

body {
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
}
body * {
  box-sizing: content-box;
}
#play{
  cursor:pointer;
}
#browser {
  display: none;

  position: absolute;
  top: 10px;
  left: 50%;

  border-radius: 2px;
  background: rgba(0, 0, 0, .25);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  
  font-size: 12px;
  font-weight: bold;
}
#mathbox-logo{
    display: none;
}





@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loading{
    position: absolute;
    display: none;
    color: #59ebff;
    font-size: 100px;
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 150px;
  height: 150px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #59ebff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

.play-wrapper{
  position: absolute;
  top: -50px;
  transform: scale(0.67);
}
@media(max-width: 768px) {
  .play-wrapper{
    transform: scale(0.3);
  }
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid white;
  margin: 100px auto 50px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 10px;
}
.play:before {
  content: '';
  position: absolute;
  top: -75px;
  left: -114px;
  bottom: -75px;
  right: -35px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 70px;
  height: 80px;
  background: white;
  position: absolute;
  right: 5px;
  top: -40px;
  border-left: 20px solid white;
}