/* Common objects */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	letter-spacing: 2px;
    cursor: default;
    color: #fff;
    line-height: 2;
}

p {
	margin: 15px 0 15px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    cursor: default;
}

a {
	cursor: pointer;
	color: white;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: rgba(256, 256, 256, 0.2);
}

input[type="text"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: rgba(144, 144, 144, 0.25);
	border-radius: 3px;
	border: none;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
	height: 2.75em;
}

input[type="text"]:focus {
	box-shadow: 0 0 0 2px #21b2a6;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}
.btn-default {
    border: 2px solid #E87A90;
    color: #E87A90;
    padding: 10px 20px;
    background-color: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media(max-width: 768px){
    .btn-default {
        color: white;
        background-color: #DB4D6D;
        border: 2px solid #DB4D6D;
    }
}

.btn-default:hover,
.btn-default:focus {
    outline: none;
    color: white;
    background-color: #DB4D6D;
    border: 2px solid #DB4D6D;
}

.btn-transparent {
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-transparent:hover,
.btn-transparent:focus {
    outline: none;
    color: white;
    background: rgba(256, 256, 256, 0.1);
}

.btn-transparent i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(256, 256, 256, 0.1);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(256, 256, 256, 0.2);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    webkit-tap-highlight-color: rgba(256, 256, 256, 0.2);
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px; 

	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/index-bg.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.wrapper:after {
  content: "";
  display: block;
}

.copyright, .page-wrap:after {
  height: 50px; 
}

.copyright {
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}
/* Index page css */
#index {
    display: none;
    padding-bottom: 100px;
}

#index .header {
	text-align: center;
	padding-top: 100px;
} 

#index .header .container .img-responsive {
	padding-left: 10px;
	margin-bottom: 50px;
}

#index .header .container h3 {
	line-height: 1.5;
}

#index .query {
    padding-bottom: 50px;
}

#index .query .container form {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

@media(max-width: 768px) {
    #index .query .container form {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

#index .query .container form .form-group label {
	margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.5;
    cursor: default;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
}

#index .query .container form button {
	margin-top: 50px;
}

/* Error page css */
#error {
    display: none;
}

#error .header {
    text-align: center;
    padding-top: 100px;
} 

#error .header .container .img-responsive {
    padding-left: 10px;
    margin-bottom: 100px;
}

#error .header .container p {
    padding-bottom: 30px;
}

#error .header .container a:hover {
    text-decoration: none;
}


/* Sorry page css */
#sorry {
    display: none;
}

#sorry .header {
    text-align: center;
    padding-top: 100px;
} 

#sorry .header .container .img-responsive {
    padding-left: 10px;
    margin-bottom: 100px;
}

#sorry .header .container .sorry-message {
    text-align: left;
    letter-spacing: 1px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
}

/* AD page css */
#result {
    display: none;
    padding-bottom: 100px;
}

#result .header {
    text-align: center;
    padding-top: 100px;
} 

#result .header .container .img-responsive {
    padding-left: 10px;
    margin-bottom: 75px;
}

#result .header .container .message {
    text-align: left;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* you were also missing a semi-colon here, which was breaking this and the background rule */
}